.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background: linear-gradient(180deg, #f8fbff, #e6f2ff);
  color: white;
}

.navbar a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
}

.logo {
  font-weight: bold;
  color: #4e73df;
}
