<header class="navbar">
  <h2 class="logo">Milk Order App 🥛</h2>

  <nav class="nav-links">
    <a routerLink="/home">Home</a>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/signup">Signup</a>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </nav>
</header>

<section class="hero">
  <div class="hero-content">
    <h1>Welcome to Milk Order App</h1>
    <p>Fresh Milk & Dairy Products Delivered to Your Doorstep 🚚</p>

    <a routerLink="/signup" class="btn">Get Started</a>
  </div>
</section>

<footer class="footer">
  © 2026 Milk Order App
</footer>
